{% extends "base.html" %}

{% block title %}
    About 
{% endblock title %}

{% block body %}
  
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="black-text"> BloGBuzz PVT LTD </h5>
                <p class="black-text text-lighten-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi hic placeat omnis asperiores, libero officia veritatis eum totam rem vitae, exercitationem laboriosam repudiandae natus, unde eligendi! Pariatur hic odio fugiat?.</p>
              </div>
        </div>
    </div>

{% endblock body %}