
<!-- footer start -->
        <footer class="page-footer">
            <div class="container">
              <div class="row">
                <div class="col l6 s12">
                  <h5 class="white-text"> BloGBuzz PVT LTD </h5>
                  <p class="grey-text text-lighten-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi hic placeat omnis asperiores, libero officia veritatis eum totam rem vitae, exercitationem laboriosam repudiandae natus, unde eligendi! Pariatur hic odio fugiat?.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                  <h5 class="white-text"> Site Map </h5>
                  <ul>
                    <li><a class="grey-text text-lighten-3" href="/"> Home </a></li>
                    <li><a class="grey-text text-lighten-3" href="/about"> About </a></li>
                    <li><a class="grey-text text-lighten-3" href="/contact"> Contact </a></li>
                    <li><a class="grey-text text-lighten-3" href="/category"> Catetory </a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="footer-copyright">
              <div class="container">
              © Copyright 2022 | All Right Reserved | BloGBuzz
              <a class="grey-text text-lighten-4 right" href="https://twitter.com/blogbuzz" target="_">Follow us on:: Twitter </a>
              </div>
            </div>
          </footer>
        <!-- end footer -->

</body>

    <script>
        M.AutoInit()
    </script>

</html>