/* nav{
    background: #477091 !important;
} */


.bg-primary{
    background: #2705e1ad !important;
}

.page-footer{
    background: #2705e1ad !important;
}

.btn{
    background: #2705e1ad !important;
}